node_modules/
.firebase/
reminder3-65e84-firebase-adminsdk-chjy7-0ab9b48339.json
functions/reminder3-65e84-firebase-adminsdk-chjy7-0ab9b48339.json
node_modules
.env
reminder3-65e84-firebase-adminsdk-chjy7-0ab9b48339.json
firebase-messaging-sw.js.template
server.key
functions/**/node_modules/
functions/.firebase
functions/index.js
functions/reminder3-65e84-firebase-adminsdk-chjy7-0ab9b48339.json
functions/node_modules

