node_modules/
firebase-messaging-sw.js.template
server.key.pem
server.cert.pem
functions/**/node_modules/
functions/.firebase
functions/node_modules
public/firebase.js
public/firebase-config.js
build/firebase.js
build/firebase.js
build/config.js
functions/serviceAccoutnKey.json
firebaseInit.js
function/.env
.env
serviceAccountKey.json
function/serviceAccountKey.json
bfg-repo-cleaner/
.cloudflared/cert.pem
.cloudflared/offsetcodecraft.site.json
.cloudflared/config.yml
config.ymlTAB

serviceAccountKey_singleline.json
