@charset "utf-8";

/* SignIn.css */

.auth-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outline-container {
    max-width: 400px;
    width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .form-input {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .form-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .form-button:hover {
    background-color: #0056b3;
  }
  
  .back {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 8px;
    /* color:  rgb(8, 232, 158);
    color: rgba(40, 147, 247, 0.772); */
    color: black;
    z-index: 999;
    cursor: pointer;
  }