@charset "utf-8";

body {
    margin: 0;
    padding: 0;
    background-color: #222;
}

.container {
    max-width: 1976px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.circle2 {
    width: 336px;
    height: 336px;
    /* border:  1px solid rgb(245, 245, 167);  */
    border:  1px solid rgba(40, 147, 247, 0.772); 
    border-radius: 50%;
    
}

.inner9-container {
    width: 336px;
    height: 336px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border:  0.5px solid rgb(244, 232, 164); 
}
.decoration-container {
    width: 336px;
    height: 336px;
    position: absolute;
    border:  0.5px solid rgb(244, 232, 164); 
}

.select-auth {
    width: 240px;
    height: 64px;
    color: #ccc;
    /* color: rgb(245, 245, 144); */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 24px;
}
.select-auth2 {
    width: 240px;
    height: 64px;
    color: rgba(40, 147, 247, 0.772);
    text-align: center;
    cursor: pointer;
    font-size: 24px;
}
.select-auth:hover {
    text-decoration: underline;
}
.slash2 {
    width: 16px;
    height: 1px;
    display: flex;
    flex-direction: column;
    background-color: yellowgreen;
    transform-origin: left;
    transform: rotate(-45deg);
    overflow: hidden;
    margin-bottom: 4px;
    overflow: hidden;
  }
  .slash2:nth-child(1) {
    margin-top: 8px;
    width: 10px;
  }
  .slash2:nth-child(2) {
    width: 20px;
  }
  .slash2:nth-child(3) {
    width: 27px;
  }
  .slash2:nth-child(4) {
    width: 32px;
  }
  .slash2:nth-child(5) {
    width: 40px;
  }